/*--- title ---*/
%title {
	font-family: $font-family;
	font-weight: 700;
	color: $color3;
}

.title-1 {
	@extend %title;
	font-size: 55px;
	line-height: (74/55);

	@include table {
		font-size: 45px;
	}

	@include mobile {
		font-size: 36px;
		line-height: (48/36);
	}
}

.title-2 {
	@extend %title;
	font-size: 38px;
	line-height: (44/38);

	@include table {
		font-size: 32px;
	}

	@include mobile {
		font-size: 22px;
		line-height: (30/22);
	}
}

.title-3 {
	@extend %title;
	font-size: 24px;
	line-height: (27/24);

	@include mobile {
		font-size: 20px;
		line-height: (25/20);
	}
}

.title-4 {
	@extend %title;
	font-size: 18px;
	line-height: (26/18);

	@include mobile {
		font-size: 16px;
		line-height: (22/16);
	}
}



.text {
	font-family: $font-family2;
	font-size: 16px;
	line-height: (30/16);
	color: #333;

	@include mobile {
		font-size: 14px;
		font-weight: 300;
		line-height: (28/14);
	}
}

/*--- Btns ---*/
%basis-btn {
	cursor: pointer;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: background-color $duration, color $duration;
}

%btn {
	@extend %basis-btn;
	width: 220px;
	height: 60px;
	font-family: $font-family;
	font-weight: 700;
	line-height: 60px;
	color: #fff;
	border-radius: 30px;
	box-shadow: -6px 13px 20px rgba(136, 136, 136, 0.4);

	span {
		display: inline-block;
	}

	@include mobile {
		font-size: 14px;
	}
}

.btn {
	@extend %btn;
	background-color: $color1;

	&:hover {
		background-color: $color4;
	}
}

.btn-v2 {
	@extend %btn;
	color: $color4;
	background-color: #fff;
	border: 2px solid #fff;

	&:hover {
		color: #fff;
		background-color: transparent;
	}
}

/*-------*/
.btn-basket {
	@extend %basis-btn;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: $color1;

	&:hover {
		background-color: $color4;
	}

	svg {
		display: inline-block;	
		width: 20.83px;
		height: 20.83px;
	}

	@include table {
		width: 40px;
		height: 40px;

		svg {
			width: 16.67px;
			height: 16.67px;
		}
	}
}

/*-------*/
.btn-cupons {
	@extend .btn-basket;
}


/*-------*/
.btn-arrow {
	@extend .btn-basket;
	width: 40px;
	height: 40px;

	svg {
		width: 20px;
	}

	@include mobile {
		width: 30px;
		height: 30px;

		svg {
			width: 15px;
		}
	}
}

.btn-arrow-v2 {
	@extend .btn-basket;
	width: 44px;
	height: 44px;
	background-color: #fff;
	border: 2px solid #fff;

	svg path {
		fill: $color4;
		transition: fill $duration;
	}
	
	&:hover {
		background-color: transparent;

		svg path {
			fill: #fff;
		}
	}

}

/*-------*/
.btn-preview {
	cursor: pointer;
	position: relative;
	display: inline-block;
	align-self: flex-start;
	padding-right: 31.5px;
	line-height: (16/18);
	color: $color1;
	white-space: nowrap;
	transition: color $duration;

	&:hover {
		color: $color4;

		path {
			fill: $color4;
		}
	}

	svg {
		position: absolute;
		top: 50%;
		right: 0;
		width: 20.88px;
		height: 20.88px;
		transform: translateY(-50%);

		path {
			fill: $color1;
			transition: fill $duration;
		}
	}

	&.white {
		color: #fff;

		svg path {
			color: #fff;
		}
	}

	@include mobile {
		font-size: 14px;
		line-height: (18/14);
	}
}
/*-------*/

/*b-checkbox*/
.b-radio {
	cursor: pointer;
    position: relative;
	display: block;
	margin-bottom: 13px;
	font-family: $font-family2;
	color: #828282;

	$parent: &;

	input {
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		opacity: 0;
		z-index: -1;

		&:checked ~ #{$parent}__text {
			font-weight: 500;
			color: $color4;
		}

		&:checked ~ #{$parent}__text::before {
			background-color: $color1;
			border-color: $color1;
		}

		&:checked ~ #{$parent}__text::after {
			opacity: 1;
		}
	}

	&__text {
		position: relative;
		display: inline-block;
		padding-left: 34px;
		font-size: 16px;
		line-height: (22/16);
		transition: color $duration;

		&::before, &::after {
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			transition-duration: $duration;
		}

		&::before {
			left: 0;
			width: 18px;
			height: 18px;
			border: 1px solid;
			border-color:  #828282;
			border-radius: 50%;
			background-color: transparent;
			transition-property: border-color, background-color;
		}

		&::after {
			left: 3.5px;
			width: 11.1px;
			height: 7.93px;
			background-image: url("../img/icon/check.svg");
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			opacity: 0;
			transition-property: opacity;
		}
	}

	@include mobile {
		margin-bottom: 7px;

		&__text {
			font-size: 14px;
			line-height: (22/14);
	
			&::before, &::after {
				content: "";
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				transition-duration: $duration;
			}
	
			&::before {
				left: 0;
				width: 18px;
				height: 18px;
				border: 1px solid;
				border-color:  #828282;
				border-radius: 50%;
				background-color: transparent;
				transition-property: border-color, background-color;
			}
	
			&::after {
				left: 3.5px;
				width: 11.1px;
				height: 7.93px;
				background-image: url("../img/icon/check.svg");
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
				opacity: 0;
				transition-property: opacity;
			}
		}

	}
}

/*gallery*/
.gallery {
	display: flex;
	justify-content: space-between;
	width: 670px;
	height: 470px;
	overflow: hidden;

	&__thumb {
		width: 170px;
		overflow-y: auto;

		&-item {
			height: 170px;
			margin-bottom: 30px;

			&:last-child {
				margin-bottom: 0
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
	}

	&__full {
		// padding-top: 36px;
		// padding-bottom: 35px;
		width: 470px;
		background-color: #f2f2f2;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	@include table {
		&__thumb {
			width: 25%;
			
			&-item {
				margin-bottom: 20px;
				height: auto;
			}
		}

		&__full {
			// padding-top: 15px;
			// padding-bottom: 14px;
			width: 70%;
		}
	}

	@include mobile{
		flex-direction: row-reverse;
		width: 100%;
		height: auto;

		&__thumb, &__full {
			flex-shrink: 1;
		}

		&__thumb {
			width: 30.36%;
			
			
			&-item {
				margin-bottom: 10px;
				height: auto;
			}
		}

		&__full {
			width: 65%;
		}
	}
}

/*choice*/
.choice {

	&__title {
		margin-top: 13px;
		margin-bottom: 13px;
	}

	&__description {
		margin-bottom: 10px;
	}

	&__block {
		position: relative;

		&-title {
			font-weight: bold;
			font-size: 18px;
			line-height: 44px;
			color: #828282;

			&-wrapp {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 5px;

				svg {
					cursor: pointer;
					position: relative;
					z-index: 5;
					width: 23.34px;
					height: 23.34px;
					fill: #828282;
					transition: fill $duration;
					
					&:hover {
						fill: $color1;

						& ~ .choice__block-info {
							opacity: 1;
							pointer-events: all;
						}
					}
				}
			}
		}

		&-line {
			flex-grow: 1;
			height: 1px;
			background-color: #E0E0E0;
			margin: 0 14px;
		}
		
		&-info {
			position: absolute;
			right: -9.61px;
			top: 0;
			z-index: 4;
			padding: 20px 19px 40px 20px;
			width: 299px;
			font-size: 14px;
			line-height: 2;
			color: #333333;
			background-color: #fff;
			border-radius: 15px;
			box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
			opacity: 0;
			pointer-events: none;
			transition: opacity $duration;

			&:hover {
				opacity: 1;
				pointer-events: all;
			}
		}
	}

	@include mobile {
		&__title {
			margin-top: 0;
			margin-bottom: 5px;
		}
	
		&__block {
	
			&-title {
				font-size: 16px;
				line-height: 1px;
	
				&-wrapp {
					margin-bottom: 13px;
	
					svg {
						width: 20px;
						height: 20px;
					}
				}
			}
	
			&-line {
				flex-grow: 1;
				height: 1px;
				background-color: #E0E0E0;
				margin: 0 23px 0 22px;
			}
			
			&-info {
				top: -10px;
				z-index: 4;
			}
		}
	}
}

/*place order*/
.cost {
	display: flex;
	align-items: center;

	&__text {
		margin-right: 26px;
		font-weight: bold;
		font-size: 18px;
		line-height: 44px;
		color: #828282;
	}

	&__price {
		margin-right: auto;
	}

	@include table {
		&__text {
			margin-right: 45px;
		}
	}	

	@include table {
		flex-wrap: wrap;

		&__text {
			margin-right: auto;
			font-size: 16px;
			line-height: 1;
		}

		&__price {
			margin-right: 0;
			line-height: 1;
		}

		

		&__btn {
			order: 1;
			margin-top: 20px;
			width: 100%;

		}
	}
}

//accordion
.description-item {
	margin-bottom: 15px;
	min-height: 60px;
	border: 1px solid #BDBDBD;

	&:last-child {
		margin-bottom: 0;
	}

	&__btn {
		cursor: pointer;
		position: relative;
		display: flex;
		padding: 26px 100px 26px 40px;
		font-size: 18px;
		line-height: (23/18);
		font-weight: 700;
		color: $color3;

		& > * {
			display: block;
		}

		svg {
			position: absolute;
			top: calc(50% - 5.5px);
			right: 40px;
			width: 19.5px;
			height: 11px;
			fill: #009B72;
			transform: scale(1);
			transition: transform $duration;
		}

		&.active svg {
			transform: scale(-1);
		}
	}

	&__content {
		padding: 11px 40px 87px;
	}

	@include mobile {
		margin-bottom: 20px;

		&__btn {
			padding: 19px 100px 20px 20px;
			font-size: 14px;
			line-height: (18/14);

			svg {
				top: calc(50% - 5.5px);
				right: 20.5px;
			}
		}

		&__content {
			padding: 11px 20px 50px;
		}
	}
}




