$font-family: "Comfortaa", sans-serif;
$font-family2: "Gotham Pro", sans-serif;

/***********************Main*/
$duration: 0.3s;

$color1: #009B72;
$color2: #F2F2F2;
$color3: #1B1B1E;
$color4: #00664B;
