@import "fonts";
@import "nullstyle";
@import "mixins";
@import "variables";

html,
body {
	width: 100%;
	height: 100%;
    font-family: $font-family;
    font-size: 16px;
	font-weight: 400;
	line-height: 1;
    color: #333;
}

/*--------------------------------Common--------------------------------*/
.container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1156px;

    @include table {
        padding-right: 20px;
        padding-left: 20px;
        max-width: 767px;
    }

    @include mobile {
        max-width: 100%;
    }
}

img {
	display: inline-block;
	max-width: 100%;
}

/*--------------------------------Other--------------------------------*/

@import "components/dropdown";

@import "components/header";

@import "components/footer";

.page {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}

.logo {
	display: block;
	width: 146px;
}

.sci {

	&__item {
		display: inline-block;
		margin-right: 24px;
		width: 30px;
		height: 30px;

		&:last-child {
			margin-right: 0;
		}

		svg path {
				fill: #fff;
			}
	}
}