@import "fonts";
@import "nullstyle";
@import "mixins";
@import "variables";

html,
body {
	width: 100%;
	height: 100%;
    font-family: $font-family;
    font-size: 16px;
	font-weight: 400;
	line-height: 1;
    color: #333;
}

/*--------------------------------Common--------------------------------*/
.container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1170px;

    @include table {
        padding-right: 20px;
        padding-left: 20px;
        max-width: 767px;
    }

    @include mobile {
        max-width: 100%;
    }
}

img {
	display: inline-block;
	max-width: 100%;
}

/*--------------------------------comon-components--------------------------------*/
@import "common-components";

/*--------------------------------Other--------------------------------*/

@import "components/dropdown";

@import "components/header";

@import "components/footer";

.ovh {
	overflow: hidden;
}

.fit {
	&-cover {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	&-contain {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.page {
	position: relative;
	display: flex;
	flex-direction: column;
	padding-top: 90px;
	min-height: 100vh;
	overflow: hidden;
}

.logo {
	cursor: pointer;
	display: block;
	width: 146px;
}

.sci {

	&__item {
		display: inline-block;
		margin-right: 24px;
		width: 30px;
		height: 30px;

		&:last-child {
			margin-right: 0;
		}

		svg path {
				fill: #fff;
			}
	}
}

//index-page
.main-page {

	main {
		padding-top: 18px;
		padding-bottom: 70px;
	}
	

	@include table {
		padding-top: 0;
	}

	.categories {
		margin-top: 110px;

		@include table{
			margin-top: 75px;
		}

		@include mobile {
			margin-top: 60px;
		}
	}

	.article {
			margin-top: 120px;

		&:nth-last-of-type(1) {
			margin-top: 130px;
		}

		@include table{
				margin-top: 80px;
	
			&:nth-last-of-type(1) {
				margin-top: 70px;
			}
		}

		@include mobile {
				margin-top: 50px;

			&:nth-last-of-type(1) {
				margin-top: 60px;
			}
		}
	}
}

.main-slider {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1170px;
	height: 577px;

	 & > .swiper-pagination {
		left: 70px;
		bottom: 60px;
		text-align: left;

		.swiper-pagination-bullet {
			position: relative;
			width: 10px;
			height: 10px;
			margin: 0;
			margin-right: 20px;
			border: 3px solid;
			border-color: #fff;
			background-color: transparent;
			opacity: 1;
			transition: border-color $duration;

			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 16px;
				height: 16px;
				font-size: 9.34px;
				border: 4px solid #000;
				border-radius: 50%;
				clip-path: polygon(0% 0%, 50% 0, 50% 50%, 100% 50%, 100% 100%, 0 100%);
				opacity: 0;
				transform: translate(-50%, -50%);
				transition: opacity $duration;
			}
			
			&-active {
				border-color: transparent;

				&::before {
					opacity: 1;
				}
			}
	
			&:last-of-type {
				margin-right: 0;
			}
		}

		@include mobile {
			left: 20px;
			bottom: 70px;

			.swiper-pagination-bullet {
				width: 8.16px;
				height: 8.16px;
				margin: 0;
				margin-right: 16.32px;
	
				&::before {
					width: 13.06px;
					height: 13.06px;
					font-size: 9.34px;
					border: 3.2px solid #000;
				}
			}
		}
	}

	.swiper-slide {
		position: relative;
		padding-top: 147px;
		padding-left: 70px;
		background-color: $color1;
		background-repeat: no-repeat;
		background-position: center;

		&::before, &::after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;			
			z-index: 1;			
		}

		&::before {
			left: 0;
			width: 167px;
			background-color: $color1;
		}

		&::after {
			left: 166px;
			width: calc(100% - 166px);
			background: linear-gradient(94.7deg, $color1 15.1%, transparent 77.52%); 
		}

		& > *:not(.main-slider__img) {
			z-index: 2;
		}

		@include table {
			&::before {
				display: none;
			}

			&::after {
				left: 0;
				width: 100%;
			}
		}

		@include mobile {
			padding-top: 90px;
			padding-left: 20px;

			&:after {
				width: 100%;
				left: 0;
				background: linear-gradient(94.7deg, $color1, rgba(255, 255, 255, 0) 77.52%);
			}
		}
	}

	&__title {
		position: relative;
		color: #fff;
	}

	&__btn {
		margin-top: 40px;
	}

	@include table {

		&__title {
			max-width: 90%;
		}
	}

	@include mobile {
		height: 522px;

		&__btn {
			width: 186px;
		}
	}
}

.section-name {
	display: block;
	font-size: 18px;
	font-weight: 700;
	line-height: (20/18);
	color: #828282;

	@include mobile {
		font-size: 14px;
		line-height: (18/14);
	}
}

.product {
	position: relative;
	display: flex;
	margin-top: 41px;
	height: 230px;
	
	&__title {
		margin-top: 11px;
	}

	&__btn-preview {
		position: absolute;
		left: 0;
		bottom: 11px;
	}

	&__slider {
		margin-left: auto;
		margin-right: 0;
		padding: 0 42px;
		width: 910px;

		.swiper-wrapper {
			width: 826px;
		}
	}

	&__item {
		cursor: pointer;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		&.swiper-slide::before {
			position: absolute;
			content: "";
			top: 0;
			bottom: 0;
			left: -22px;
			right: -22px;
			background-color: #F2F2F2;
			opacity: 0;
			z-index: -1;
			transition: opacity $duration;
		}

		&:hover::before {
			opacity: 1;
		}
	}

	&__item-img {
		width: 226px;
		height: 192px;

		img {
			max-width: 100%;
			max-width: 100%;
		}
	}

	&__info {
		position: absolute;
		left: 50%;
		bottom: 29px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 28px;
		width: 246px;
		height: 50px;
		font-weight: 700;
		line-height: 1;
		color: $color4;
		background-color: #fff;
		border-radius: 25px;
		box-shadow: -3px 19px 30px rgba(158, 158, 158, 0.4);
		opacity: 0;
		pointer-events: none;
		transform: translateX(-50%);
		transition: opacity $duration;

		.product__item:hover & {
			opacity: 1;
			pointer-events: all;
		}
	}

	&__slider-prev, &__slider-next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 10;
	}

	&__slider-prev {
		left: 0;
	}

	&__slider-next {
		right: 0;
	}

	@include table {
		flex-direction: column;
		height: auto;

		&__title {
			margin-bottom: 15px;

			br {
				display: none;
			}
		}

		&__btn-preview {
			position: relative;
			left: auto;
			bottom: auto;
			margin-top: 35px;
		}

		&__slider {
			padding: 0 20px 30px;
			width: 100%;
		}

		&__item {
			&.swiper-slide::before {
				left: 0;
				right: 0;
				visibility: visible;
				opacity: 1;
			}

			&-img {
				width: 100%;
				
				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
					object-position: center;
				}
			}
		}

		&__info {
			top: calc(100% + 12px);
			bottom: auto;
			padding: 0 1px;
			width: 100%;
			height: auto;
			background-color: transparent;
			border-radius: 0;
			box-shadow: none;
			opacity: 1;
			pointer-events: all;
		}

		&__product {
			max-width: 130px;
		}

		&__price {
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	@include mobile {
		&__title {
			margin-top: 2px;
			margin-bottom: 12px;

			br:nth-of-type(1){
				display: block;
			}
		}

		&__btn-preview {
			margin-top: 34px;
		}

		&__slider {
			padding: 0 15px 23px;
			width: calc(100% + 30px);
			margin-left: -15px;
			
			&-next, &-prev {
				top: calc(50% - 11.5px);
			}
		}

		&__item {
			height: 112px;

			&-img {
				height: calc(100% - 20px);
			}
		}

		&__info {
			top: calc(100% + 8px);
			font-size: 12px;
			line-height-step: (15/12);
		}

		&__product {
			max-width: 130px;
		}

		&__price {
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.swiper-button-disabled {
			display: none;
		}
	}
}

.categories {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-auto-rows: 250px;
	grid-gap: 30px 30px;
	
	&__heading {
		margin-bottom: 29px;
	}

	&__item {
		position: relative;
		overflow: hidden;
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		transition: transform $duration;

		.categories__item:hover & {
			transform: scale(1.18);
		}
	}

	&__col {
		position: absolute;
		left: 30px;
		bottom: 33px;
	}

	&__title {
		margin-bottom: 9px;
		font-size: 24px;
		font-weight: 700;
		line-height: (27/24);
		color: #fff;
	}

	@include table {
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
		grid-auto-rows: auto;
		grid-gap: 20px 20px;

		&__col {
			left: 20px;
			bottom: 20px;
		}
	}

	@include mobile {
		grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
		grid-auto-rows: 185px;

		&__title {
			margin-bottom: 10px;
			font-size: 20px;
			line-height: (25/20);
		}

		&__col {
			left: 20px;
			bottom: 25px;
		}
	}
}

.article {
	position: relative;
	padding-left: 700px;
	padding-top: 18px;
	min-height: 500px;

	&-reverse {
		padding-left: 0;
		padding-right: 700px;
	}

	&__col-picture {
		position: absolute;
		top: 0;
		left: 100px;
		max-width: 500px;
		width: 100%;
		height: 500px;

		.article-reverse & {
			left: auto;
			right: 100px;
		}
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__usp {
		position: absolute;
		bottom: 40px;
		left: -100px;
		padding: 76px 30px 20px;
		width: 240px;
		min-height: 240px;
		background-color: $color1;
		color: #fff;

		.article-reverse & {
			left: auto;
			right: -100px;
		}

		span {
			display: block;
			margin-bottom: 23px;
		}
	}

	&__title {
		margin-top: 11px;
		font-weight: bold;
		font-size: 38px;
		line-height: (44/38);
		color: #1B1B1E;
	}

	&__text {
		margin-top: 20px;
	}
	
	&__btn {
		margin-top: 51px;
	}

	@include table {
		padding-top: 0;
		padding-left: 20px;

		&-reverse {
			padding-right: 0;
		}

		&__col-picture {
			position: relative;
			top: auto;
			left: auto;
			margin-left: auto;
			margin-right: auto;
			margin-top: 30px;

			.article-reverse & {
				right: auto;
			}
		}

		&__title { 
			font-size: 32px;
		}

		&__btn {
			margin-top: 41px;
		}
	}

	@include mobile {
		padding-left: 0px;

		&__col-picture {
			margin-top: 15px;
			height: auto;

		}

		&__usp {
			left: auto;
			bottom: 0;
			left: 0;
			width: 205px;
			min-height: 140px;
			padding: 25px 23px 23px 21px;
			font-size: 12px;
			line-height: (22/12);

			
		}

		&__usp {
			.article-reverse & {
				right: 0;
			}
		}

		&__title { 
			margin-top: 2px;
			font-size: 22px;
			line-height: (30/22);
		}
		
		&__text {
			margin-top: 30px;
		}

		&__btn {
			margin-top: 40px;
			width: 186px;
		}
	}
}

.popular-products {
	margin-top: 140px;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 25px;
	}

	&__title {
		font-size: 38px;
		line-height: (54/38);
		font-weight: 700px;
		color: #43475a;
	}

	@include table {
		margin-top: 90px;

		&__row {
			margin-bottom: 15px;
		}

		&__title {
			font-size: 32px;
		}
	}

	@include mobile {
		margin-top: 71px;

		&__row {
			margin-bottom: 11px;
		}

		&__title {
			font-size: 22px;
			line-height: (30/22);
		}

		&__btn-preview {
			display: none;
		}
	}
}

.showcase {
	display: flex;
	margin-right: -30px;
	margin-bottom: -10px;
	padding-top: 30px;
	padding-bottom: 10px;
	
	&__item {
		position: relative;
		z-index: 2;
		margin-right: 30px;
		padding-top: 21px;
		padding-bottom: 64px;
		width: calc(100% / 3 - 30px);
		background-color: $color2;
		box-shadow: 0 0 0 0 rgba(73, 73, 73, 0.01);
		transition-property: transform, box-shadow;
		transition-duration: $duration;

		&:hover {
			transform: translateY(-19px);
			box-shadow: 0 35px 22px -15px rgba(73, 73, 73, 0.15);
		}

		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 91%;
			height: 411px;
			overflow-x: hidden;
			
			transform: translateX(-50%);
			z-index: -1;
		}
	}

	&__img {
		height: 290px;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: center;
		}
	}

	&__col {
		margin-top: 29px;
		padding: 0 95px 0 31px;
	}

	&__category, &__price {
		font-size: 14px;
		line-height: (18/14);
		font-weight: 700;
		
	}

	&__category {
		color: #828282;
		transition: color $duration;

		&:hover {
			color: $color4;
		}
	}

	&__title {
		margin-top: 5px;
	}

	&__price {
		position: absolute;
		bottom: 39px;
		left: 31px;
		color: #1B1B1E;
	}

	&__btn-basket {
		position: absolute;
		right: 30px;
		bottom: 42px;
	}

	@include table {
		margin-right: -20px;

		&__item {
			margin-right: 20px;
			padding-top: 15px;
			padding-bottom: 61px;
			width: calc(100% / 3 - 20px);
		}
	
		&__img {
			height: 185px;
		}
	
		&__col {
			margin-top: 25px;
			padding: 0 65px 0 31px;
		}
	
		&__btn-basket {
			right: 20px;
    		bottom: 30px;
		}
	}

	@include mobile {
		padding-top: 19px;
		margin-right: 0;
		width: calc(100% + 20px);

		&__item {
			min-width: 225px;
			padding-top: 16px;
			padding-bottom: 48px;

			&:last-child {
				margin-right: 0;
			}
		}
	
		&__img {
			height: 143px;
		}
	
		&__col {
			margin-top: 33px;
			padding: 0 65px 0 31px;
		}

		&__price {
			bottom: 23px;
		}
	
		&__btn-basket {
    		bottom: 26px;
		}
	}
}

.subscrip {
	position: relative;	
	margin-right: auto;
	margin-left: auto;
	padding-top: 54px;
	width: 100%;
	max-width: 1170px;
	height: 354px;
	background-color: $color1;
	background-clip: content-box;
	overflow: hidden;

	&::before {
		content: "";
		position: absolute;
		top: 87px;
		left: 31px;
		width: 139px;
		height: 223px;
		opacity: 0.1;
		background: url("../img/subscrip-fon.png") no-repeat;
		background-size: contain;
		pointer-events: none;
	}

	&__bg {
		position: absolute;
		right: 54px;
		bottom: -467px;
		width: 421px;

		&-title {
			position: absolute;
			top: 10.36%;
    		left: 12.11%;
			font-size: 38px;
			line-height: (54/38);
			color: #fff;
		}

		&-img {
			width: 100%;
			height: 100%;
		}
	}

	&__form {
		display: flex;
		align-items: flex-end;

		&-wrapp {
			margin-top: 52px;
			margin-left: 70px;
			max-width: 537.5px;
		}
		
	}

	&__title {
		margin-bottom: 36px;
		font-weight: bold;
		font-size: 38px;
		line-height: (54/38);
		color: #FFFFFF;
	}

	&__input {
		display: block;
		padding-left: 5px;
		padding-bottom: 16px;
		font-family: $font-family2;
		font-size: 14px;
		line-height: (13/14);
		color: #fff;
		background-color: transparent;
		border-bottom: 2px solid #fff;
		overflow: hidden;
		text-overflow: ellipsis;

		&::placeholder {
			color: #fff;
		}

		&:nth-of-type(1) {
			margin-right: 17.7px;
		}
	}

	&__btn {
		margin-left: 22px;
	}

	@include table {

		&::before {
			left: 5px;
			top: 84px;
		}


		&__bg {
			right: -95px;
			bottom: -385px;
			width: 380px;

			&-title {
				font-size: 32px;
			}
		}

		&__form {
			display: flex;
			flex-wrap: wrap;

			&-wrapp {
				margin-top: 0;
				margin-left: 0;
				padding-top: 52px;
				padding-left: 50px;
				margin-right: 295px;
			}
		}

		&__title {
			margin-bottom: 28px;
			font-weight: bold;
			font-size: 32px;
		}

		&__input {
			width: calc(50% - 9px);
		}

		&__btn {
			margin-top: 20px;
			margin-left: 0;
		}
	}

	@include mobile {
		padding-top: 0;
		padding-bottom: 246px;
		height: auto;
		background-clip: border-box;

		&::before {
			display: none;
		}


		&__bg {
			right: -57px;
			bottom: -325px;
			width: 287px;

			&-title {
				font-size: 24px;
				line-height: (34/24);
			}
		}

		&__form {
			flex-wrap: nowrap;
			flex-direction: column;
			align-items: flex-start;
			

			&-wrapp {
				padding-top: 40px;
				padding-left: 20px;
				padding-right: 20px;
				margin-right: 0;
				max-width: none;
			}
		}

		&__title {
			margin-bottom: 31px;
			font-size: 22px;
			line-height: (30/22);
		}

		&__input {
			width: 82.14%;

			&:nth-of-type(1) {
				margin-bottom: 20px;
			}
		}

		&__btn {
			margin-top: 30px;
		}
	}
	
}

.main-page__subscrip {
	margin-top: 86px;
}

.observation {
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 8px;
		margin-bottom: 29px;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, 270px);
		grid-gap: 30px 30px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	@include table {
		&__list {
			grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
			grid-gap: 20px 20px;
		}
	}

	@include mobile {
		&__list {
			grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
		}

		&__btn-preview {
			display: none;		
		}
	}
}

.index-page__observation {
	margin-top: 130px;

	@include table {
		margin-top: 90px;
	}

	@include mobile {
		margin-top: 70px;
	}
}

//bread-crumb
.bread-crumb {
	display: flex;
	margin-top: 40px;
	margin-bottom: 30px;
	font-size: 14px;
	line-height: (26/14);
	color: #828282;

	&__item {
		position: relative;
		margin-right: 34px;
		transition: color $duration;

		@at-root a#{&}:hover {
			color: $color1;
		}

		@at-root div#{&} {
			color: $color1;
		}

		&::before {
			content: ".";
			position: absolute;
			right: -17px;
			top: -12px;
			font-size: 21px;
			color: $color1;
		}

		&:last-child {
			margin-right: 0;

			&::before {
				display: none;
			}
		}
	}

	@include table {
		display: none;
		
		& + main {
			padding-top: 30px !important;
			padding-bottom: 95px !important;
		}
	}

	@include mobile {
		& + main {
			padding-bottom: 40px !important;
		}
	}
}

.cupons {
	display: flex;
	flex-wrap: wrap;
	margin-right: -30px;
	padding-bottom: -30px;

	&__title {
		flex: 1 0 100%;
		margin-bottom: 29px;
	}
	
	&__item {	
		position: relative;	
		margin-right: 30px;
		margin-bottom: 30px;
		width: calc(100% / 3 - 30px);
		height: 451px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;

		& > * {
			position: absolute;
		}

		&-title, &-price {
			left: 31px;
			max-width: 239px;
			color: #fff;
		}
		&-title {
			bottom: 68px;
		}

		&-price {
			bottom: 38px;
			font-weight: bold;
			font-size: 14px;
			line-height: (18/14);
		}

		&-btn {
			right: 30px;
			bottom: 42px;
		}
	}

	@include table {
		margin-right: -20px;
		margin-bottom: -20px;

		&__item {
			margin-right: 20px;
			margin-bottom: 20px;
			width: calc(50% - 20px);
			height: 360px;
		}
	}

	@include mobile {
		&__item {
			flex: 1 0 280px;
			height: 185px;

			&-title, &-price {
				left: 20px;
				max-width: 180px;
			}
			&-title {
				bottom: 59px;
			}
	
			&-price {
				bottom: 27px;
			}
	
			&-btn {
				right: 25px;
				bottom: 27px;
			}
		}
	}
}

.cupons-page {
	main {
		padding-bottom: 130px;
	}

	&__subscrip {
		margin-top: 141px;
	}

	@include table {
		main {
			padding-bottom: 130px;
		}
	
		&__subscrip {
			margin-top: 141px;
		}
	}
}

.infoText {
	&__title {
		margin-bottom: 23px;
	}

	&__text {
		color: #333;
	}

	@include table {
		&__title {
			margin-bottom: 7px;
		}
	}
}

.catalog {

	&__infoText {
		margin-top: 57px;
		margin-bottom: 40px;
	}

	@include table {
		&__infoText {
			margin-top: 60px;
			margin-bottom: 60px;
		}
	}
}

.catalog-page__tree {
	.infoText {
		margin-top: 67px;
		margin-bottom: 40px;
	}

	@include table {

		.infoText {
			margin-top: 55px;
   			margin-bottom: 60px;
		}
	}

	@include mobile {

		.infoText {
			margin-top: 50px;
   			margin-bottom: 80px;
		}
	}
}

.catalog-page__pack {
	.infoText {
		margin-top: 60px;
		margin-bottom: 55px;
	}

	@include table {
		.infoText {
			margin-top: 50px;
   			margin-bottom: 40px;
		}
	}

	@include mobile {
		.infoText {
   			margin-bottom: 87px;
		}
	}
}

.catalog-page main,
.catalog-page__tree main, 
.catalog-page__pack main {
	padding-bottom: 130px;

	@include table {
		padding-bottom: 70px;
	}
}

//order 
.order {
	display: flex;
	justify-content: space-between;

	&-page main {
		padding-bottom: 130px;
	}

	&-wrapp {
		margin-bottom: 70px;
	}

	&__choice {
		width: 470px;

		&-block {
			margin-bottom: 28px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__description-list {
		margin-top: 70px;
	}

	@include table {
		flex-direction: column;
		align-items: center;

		&-wrapp {
			margin-bottom: 50;
		}

		&__choice {
			margin-top: 25px;
			width: 100%;
		}
	}

	@include mobile  {

		&-wrapp {
			margin-bottom: 41;
		}

		&__choice {
			margin-top: 25px;
			width: 100%;
		}
	}
}

/*Why-us page*/
.why-us-page {
	main {
		padding-bottom: 130px;
	}
	
	article:not(:nth-of-type(1)) {
		margin-top: 80px;
	}

	&__subscrip  {
		margin-top: 70px;
	}

	@include table {
		article:not(:nth-of-type(1)) {
			margin-top: 60px;
		}
	}

	@include mobile {
		article:not(:nth-of-type(1)) {
			margin-top: 47px;
		}
	
		&__subscrip  {
			margin-top: 90px;
		}
	}
}

/*Blog*/

.blog-page {
	main {
		padding-bottom: 130px;
	}

	main .container {
		display: flex;
		flex-direction: column;
	}

	&__title {
		margin-bottom: 32px;
	}

	&__btn {
		margin-top: 93px;
		margin-left: auto;
		margin-right: auto;
	}

	&__subscrip {
		margin-top: 97px;
	}

	@include table {
		&__btn {
			margin-top: 75px;
		}
	}
}

.blog {
	// display: grid;
	// grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    // grid-column-gap: 30px;
	display: flex;
	flex-wrap: wrap;
	margin-right: -30px;
	margin-bottom: -42px;

	&__item {
		margin-bottom: 42px;
		margin-right: 30px;	
		width: calc(100% / 3 - 30px);
		
		

		// &:not(.without-img) {
		// 	grid-row: 2 span;
		// }

		&.without-img {

			.blog__title {
				max-height: 420px;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 16;
				overflow: hidden;
			}
			
		}
	}

	&__img {
		width: 100%;
		height: 220px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&__content {
		padding-top: 22px; 
		padding-left: 31px;
		padding-right: 20px;
		border-top: 1px solid #EAEBEF;

		.blog__img ~ & {
			border-top: none;
		}
	}

	&__data {
		display: flex;
		align-items: center;

		&-categories {
			margin-right: 20px;
			padding: 0 20.8px;
			text-transform: uppercase;
			font-size: 10px;
			line-height: 2;
			color: #fff;

			&--orange {
				background-color: #F0803C;
			}

			&--green {
				background-color: $color1;
			}
		}

		&-date {
			font-family: $font-family2;
			font-size: 12px;	
			line-height: 20px;
			color: #828282;
		}
	}

	&__title {
		margin: 18px 0 12px;
	}

	&__text {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		max-height: 122px;
		-webkit-line-clamp: 4;
		overflow: hidden;
	}

	@include table {
		&__item {
			margin-bottom: 42px;
			margin-right: 30px;	
			width: calc(100% / 2 - 30px);
		}
	}

	@include mobile {
		display: grid;
	 	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    	grid-gap: 51px 20px;
		margin-right: 0;
		margin-bottom: 0;

		&__item {
			margin-bottom: 0;
			margin-right: 0;
			width: 100%;
		}

		&__img {
			width: 280px;
			height: 168px;
		}
	
		&__content {
			padding-top: 15px; 
			padding-left: 20px;
			padding-right: 18px;
			border-top: 1px solid #EAEBEF;
		}
	
		&__data {
	
			&-categories {
				margin-right: 16px;
				padding: 0 12.2px;
			}
		}
	
		&__title {
			margin: 11px 0 8px;
		}
	
		&__text {
			-webkit-line-clamp: 5;
		}
	}
}

/*Contacts*/
.contacts-page {
	main {
		padding-bottom: 130px;
	}
	
	&__title {
		margin-bottom: 29px;
	}

	&__subscrip {
		margin-top: 60px;
	}
}

.question {
	display: flex;
	justify-content: space-between;
	padding-bottom: 90px;

	&__form, &__contacts-block {
		width: 570px;
	}

	&__form {
		position: relative;
	}

	&__textarea {
		margin-bottom: 0;
		height: 120px;
	}

	&__btn {
		position: absolute;
		left: 0;
		top: calc(100% + 30px);
	}

	&__contacts-block {
		padding: 39px 100px 52px 35px;
		background-color: $color1;
	}

	@at-root .contacts-block {
		display: flex;
		flex-direction: column;

		& > * {
			color: #fff;
		}

		&__name {
			margin-bottom: 13px;
		}

		&__tel {
			display: block;
			margin-bottom: 5px;
		}

		&__email {
			margin-top: auto;
		}

		@include mobile {
			padding: 27px 21px 19px 20px;
		}
	}

	@include table {
		flex-direction: column;
		padding-bottom: 0;

		&__form, &__contacts-block {
			width: 100%;
		}

		&__btn {
			position: relative;
			left: 0;
			top: auto;
			margin-top: 25px;
		}

		&__contacts-block {
			order: -1;
			margin-bottom: 30px;
		}
	}

	@include mobile {
		&__btn {
			margin-top: 30px;
		}
	}
}

/*Cart*/
.cart-page {
	main {
		padding-bottom: 129px;
	}

	&__title {
		margin-bottom: 17px;
	}

	&__subscrip {
		margin-top: 111px;
	}

	@include mobile {
		&__subscrip {
			margin-top: 139px;
		}
	}
}

.cart {
	
	&__header, &__item{
		display: grid;
		grid-template-columns: 100px 170px auto 98px 160px 110px;
		align-items: center;
	}

	&__header {
		padding-left: 15px;
		padding-bottom: 17px;

		& > div {
			padding-right: 20px;
		}

		&-name {
			padding-left: 30px;
			grid-column: 3 / 4;
		}
	}

	&__item {
		padding: 20.5px 0 21.5px 15px; 
		border-top: 1px solid $color2;
		
		&:last-child {
			border-bottom: 1px solid $color2;
		}

		&-remove-btn {
			position: relative;
			width: 19px;
			height: 19px;
	
			&:before, &:after {
				height: 2px;
			}
		}

		&-img {
			width: 170px;
			height: 170px;
			background-color: $color2;
	
			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
				object-position: center;
			}
		}

		&-name {
			margin-bottom: 8px;
			padding-left: 15px;
			line-height: 1.57143;
			color: #333;
			font-family: "Gotham Pro", sans-serif;
		}

		&-name {
			position: absolute;
			bottom: calc(100% + 10px);
		}

		&-product {
			position: relative;
			padding-left: 30px;
			padding-right: 20px;

			& ~ div {
				padding-right: 20px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		&-bSelect {
			display: inline-block;
			width: calc(50% - 5px);
		}

		&-info {
			@extend .choice__block-info;
			display: none;
			margin-left: 10px;

			svg {
				width: 14.1px;
				height: 14.1px;
			}

			span {
				width: 280px;
			}
		}
	}

	&__total {
		display: flex;
		align-items: center;
		margin-top: 50px;

		&-col {
			display: flex;
			margin-left: auto;
		}

		&-text {
			margin-right: 30px;
			font-size: 18px;
			line-height: 44px;
			font-weight: 700;
			color: #828282;
		}

		&-price {
			font-weight: bold;
			font-size: 24px;
			line-height: 44px;
			color: #1B1B1E;
		}

		@include mobile {
			flex-direction: column;
			margin-top: 16px;

			&-col {
				order: -1;
			}

			&-text {
				margin-right: 32px;
				font-size: 16px;
			}
	
			&-price {
				font-size: 16px;
			}

			&-btn {
				margin-top: 21px;
				width: 100%;
			}
		}
	}

	@at-root .number-picker {
		display: flex;
		align-items: center;
		justify-content: flex-start;

		&__input {
			display: inline-block;
			padding: 6px 10px 4px 15px;
			width: 70px;
			font-family: $font-family2;
			font-size: 14px;
			line-height: (30/16);
			color: #333;
			background-color: $color2;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		&__btn {
			cursor: pointer;
			display: none;
			width: 16px;
			height: 16px;
			line-height: 16px;
			font-size: 18px;
			color: $color3;
			text-align: center;
			background-color: $color2;
			border-radius: 50%;

			&:first-child {
				line-height: 13px;
			}
		}

		@include table {
			justify-content: flex-start;

			&__input {
				padding: 0;
				width: 22px;
				max-width: 50px;				
				background-color: transparent;
				text-align: center;
			}

			&__btn {
				display: inline-block;
			}
		}

		@include mobile {

			&__input {
				font-weight: 500;
			}

			&__btn {
				display: inline-block;
			}
		}
	}

	@include table {
		&__header, &__item {
			grid-template-columns: 47px 150px auto 72px 100px 65px;
		}

		&__item {

			&-img {
				height: 150px;
				width: 150px;
			}

			&-product {
				align-self: flex-end;
				padding-left: 25px;
				padding-right: 15px;

				& ~ div {
					padding-right: 10px;
				}
			}

			&-bSelect {
				margin-bottom: 10px;
				display: block;
				width: 225px;
				
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	@include mobile {
		&__header {
			display: none;
		}
		
		&__item {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			align-items: flex-end;
			padding-top: 30px;
			padding-bottom: 30px;

			&-img {
				width: 130px;
				height: 130px;
			}

			&-remove-btn {
				position: absolute;
				top: 50px;
				right: 0;
				width: 10px;
				height: 10px;

				&:after, &:before {
					height: 1px;
				}
			}

			&-name {
				left: 151px;
				top:41px;
				width: 90px;
			}

			&-product {
				position: static;
				order: 2;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				margin-top: 15px;
				padding-left: 0;
				padding-right: 0;
				width: 100%;
			}

			&-bSelect {
				display: inline-block;
				width: 80%;
			}

			&-price {
				display: none;
			}

			&-qty {
				margin-left: 20px;
				margin-right: auto;
				margin-bottom: 15px;
			}

			&-total {
				margin-bottom: 19px;
				font-weight: 700;
			}

			&-info {
				display: inline-block;
			}
		}
	}
	
}

/*checkout*/
.checkout-page {
	main {
		padding-bottom: 117px;
	}

	&__title {
		margin-bottom: 29px;
	}

	@include mobile {
		&__title {
			display: none;
		}
	}
}

.checkout {
	display: flex;
	justify-content: space-between;

	&__title {
		margin-bottom: 23px;

		span:last-child {
			display: none;
		}
	}

	&__col {
		width: 570px;
		
	}

	&__details {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 57px;

		& > * {
			width: calc(50% - 5px);

			&:nth-of-type(3),
			&:nth-of-type(4),
			&:nth-of-type(5) {
				width: 100%;
			}
		}

		.b-select {
			&-container {
				font-size: 16px;
				line-height: (26/16);
			}

			&__header {
				padding: 12px 40px 12px 15px;
				height: 50px;
			}
		}
	}

	@at-root .additionally {
		
		&-textarea {
			margin-bottom: 30px;
			height: 175px;
		}

		&__trust {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;

			&-input {
				margin-bottom: 0;
				width: 269px;
			}

			&-checkbox {
				margin-top: 31px;
			}
		}
	}

	@at-root .fl-order {
		&__header, &__body {
			display: flex;
			justify-content: space-between;
		}

		&__header {
			
			&-item {
				padding-bottom: 6px;
				width: 270px;
				border-bottom: 1px solid #DCDCDC;
			}
		}

		&__body {
			flex-wrap: wrap;

			&-town, &-quantity {
				display: inline-block;
			}

			.title-4:not(.fl-order__body-title) {
				font-weight: 400;
			}

			& > div {
				width: 50%;
				border-bottom: 1px solid #DCDCDC;

				&:nth-last-child(1),
				&:nth-last-child(2) {
					border-bottom: none;
				}

				&:nth-last-child(2) {
					padding-top: 19px;
					padding-bottom: 0px;
					border-bottom: none;
				}
			}

			&-description, &-price {
				padding-top: 14px;
				padding-bottom: 31px;
			}

			&-price, &-subtotal, &-total {
				padding-left: 14.5px;
			}

			&-title {
					padding-top: 19px;
					padding-bottom: 18px;
			}

			&-subtotal {
				padding-top: 21px;
			}

			&-total {
				padding-top: 23px;
			}
		}

		&__btn {
			margin-top: 55px;
		}
	}

	@at-root .dates {
		display: none;

		&__title {
			margin-bottom: 15px;
			font-size: 16px;
			line-height: (30/16);
		}

		&__bSelect {
			margin-bottom: 30px;
			width: 100%;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	@at-root .fl-product {
		position: relative;
		display: none;
		padding: 30px 0 27px;
		border-top: 1px solid #E0E0E0;

		&:nth-last-of-type(2) {
			border-bottom: 1px solid #E0E0E0;
		}

		&__img {
			position: absolute;
			top: 30px;
			left: 0;
			width: 130px;
			height: 130px;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
				object-position: center;
			}
		}

		&__btn-remove {
			position: absolute;
			top: 50px;
			right: 0;
		}

		&__col {
			padding-top: 16px;
			padding-left: 150px;
			min-height: 130px;
		}

		&__name {
			width: 70%;
			line-height: (24.5/16);
			font-weight: 700;
			color: #1B1B1E;
		}

		&__row {
			display: flex;
			align-items: center;
			margin-top: 24px;
			line-height: 1;
			font-weight: 700;
		}

		&__qty {
			margin-right: 35px;
			font-size: 14px;
			font-weight: 700;
			line-height: (17/14);
			color: #828282;
		}

		&__price {
			font-size: 16px;
			line-height: 44px;
			font-weight: bold;
			color: #1B1B1E;
		}

		&__description {
			display: flex;
			margin-top: 17px;
			padding-left: 15px;
			font-family: $font-family2;
			font-size: 14px;
			line-height: (22/14);
			color: #333333;

			&-height {
				margin-right: 23px;
			}
		}

		&s__cost {
			display: flex;
			justify-content: flex-end;
			margin-top: 16px;
			font-weight: bold;
			font-size: 16px;
			line-height: 44px;
			color: #828282;

			&-value {
				margin-left: 37px;
				color: #1B1B1E;
			}
		}

		@include mobile {
			display: block;
		}
	}

	@include table {
		flex-direction: column;

		&__col {
			width: 100%;
		}

		&__additionally {
			margin-bottom: 57px;
		}

		@at-root .fl-order {
			&__header-item {
				width: 349px;
			}
		}
	}

	@include mobile {

		&__title {
			 margin-bottom: 17px;

			 &.title-3 {
				 font-size: 22px;
				 line-height: (44/22);
			 }

			span:first-child {
				display: none;
			}

			span:last-child {
				display: block;
			}
		}
		&__details {
			margin-bottom: 20px;

			& > * {
				margin-bottom: 20px;
				width: 100%;
			}

			&-input {
				&:nth-child(2) {
					display: none;
				}

				&:nth-child(5) {
					order: 5;
				}

				&:nth-child(6) {
					order: 4;
				}

			}

			&-bSelect {
				display: none;
			}
		}

		@at-root .dates {
			display: block;
			margin-top: 20px;
		}

		@at-root .additionally {
			margin-top: 40px;
			margin-bottom: 20px;


			&-textarea {
				display: none;
			}

			& .checkout__title {
				margin-bottom: 7px;
			}

			&__trust {
				&-input, &-text {
					margin-bottom: 15px;
				}

				&-checkbox {
					order: -1;
					flex-grow: 1;
					margin-bottom: 21px;
					width: 100%;
				}
			}
		}

		@at-root .fl-order {
			&__header, 
			&__body,
			& .checkout__title {
				display: none;
			}

			
			&__btn {
				margin-top: 31px;
				width: 100%;
			}
		}
	}
}

/*answer*/
.answer-page {
	&__subscrip {
		margin-top: 147px;
	}

	@include mobile {
		&__subscrip {
			margin-top: 76px;
		}
	}
}

.answer {
	&__block {
		position: relative;
		display: flex;
		justify-content: space-between;
		margin-top: 69px;

		&:first-child {
			margin-top: 0;
		}
	}

	&__img, &__thumb {
		position: relative;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	&__img {
		width: 570px;
		height: 500px;

		.answer__block--reverse & {
			order: 3
		}

		.answer__block:first-child & {
			margin-bottom: 200px;
		}
	}

	&__thumb {
		position: absolute;
		left: 0;
		top: 530px;
		display: flex;
		width: 570px;
		overflow-x: auto;
		
		&-item {
			margin-right: 30px;
			width: 170px;
			height: 171px;
			
			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__textBox {
		width: 570px;

		&-title {
			margin-top: 18px;
			margin-bottom: 46px;
		}

		&-text {
			margin-top: -28px;

			p {
				margin-bottom: 30px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	@at-root .next-article {
		position: relative;
		display: block;
		margin-top: 64px;
		padding: 37px 120px 25px 70px;
		min-height: 150px;
		font-weight: bold;
		background-color: $color2;

		&__subtitle {
			font-size: 18px;
			line-height: 23px;
			color: #828282;
		}

		&__title {
			margin-top: 5px;
			color: $color3;
		}

		&__btn-arrow {
			position: absolute;
			top: calc(50% - 24px);
			right: 70px;
			background-color: $color1;
			border: none;

			&:hover, .next-article:hover & {
				background-color: $color4;
			}

			svg {
				path {
					fill: $color2;
				}
			}
		}

		@include table {
			padding: 37px 100px 25px 50px;

			&__btn-arrow {
				right: 50px;
			}
		}

		@include mobile {
			padding: 0 0 64px 0;
			min-height: auto;
			background-color: transparent;

			&__subtitle {
				font-size: 14px;
				line-height: (18/14);
			}

			&__title {
				margin-top: 0;
			}

			&__btn-arrow {
				top: auto;
				right: auto;
				left: 0;
				bottom: 0;
			}
		}
	}

	@include table {

		&__block {
			flex-direction: column;
			align-items: center;
			margin-top: 40px;

			&:first-child {
				margin-top: 0;	
			}

		}

		&__img {

			.answer__block:first-child & {
				margin-top: 85px;
				margin-bottom: 0;
			}

			.answer__block--reverse & {
				margin-top: 60px;
			}
		}
	
		&__thumb {
			order: 2;
			position: relative;
			top: auto;
			margin-top: 48px;
			overflow-x: auto;
		}
	
		&__textBox {
			width: 100%;
	
			&-title {
				position: absolute;
				top: 0;
				left: 0;
				margin-top: 0;
				margin-bottom: 0;
				width: 100%;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				overflow: hidden;
			}
	
			&-text {
				margin-top: 25px;

				.answer__block--reverse & {
					margin-top: 0;
				}
	
				p {
					margin-bottom: 20px;
				}
			}
		}
	}

	@include mobile {

		&__img {
			margin-top: 60px;
			padding-bottom: 107.1%;
			height: auto;
			width: 100%;

			img {
				position: absolute;
				left: 0;
				top: 0;
			}

			.answer__block:first-child & {
				margin-top: 65px;
			}

			.answer__block--reverse & {
				margin-top: 60px;
			}
		}
	
		&__thumb {
			margin-top: 48px;
			width: 100%;

			&-item {
				min-width: 128px;
				width: 128px;
				height: 128px;
			}
		}
	
		&__textBox {

			&-text {
				margin-top: 30px;
	
				p {
					margin-bottom: 18px;
				}
			}
		}
	}

}
