header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding-top: 25px;
	padding-bottom: 30px;
	z-index: 100;
	background-color: #fff;
	
	.bg-menu {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		min-height: 0;
		z-index: 101;
		background-color: rgba(0, 0, 0, 0.4);
		transition: min-height 600ms cubic-bezier(.86,0,.07,1);

		&.active {
			min-height: 100vh;
			transition: min-height 600ms cubic-bezier(.86,0,.07,1);
		}
	}

	.container {
		display: flex;
		align-items: center;
	}

	.dropdownEl {
		height: auto;
		overflow: visible;

		@include table {
			height: 0;
			overflow: hidden;
		}
	}

	@at-root .#{header} {

		&__row {
			position: relative;
			display: flex;
			width: 100%;
			z-index: 101;
			
			&-wrap {
				display: flex;
				flex-grow: 1;
				margin-left: 54px;
				z-index: 102;
				transition-timing-function: cubic-bezier(.86,0,.07,1);
			}
		}

		/*Переключение языка*/
		&__languages-btns {
			display: flex;
			margin-left: auto;
			font-family: $font-family;
			line-height: 1.125;
			font-weight: bold;
			text-transform: uppercase;
			color: #828282;

			span {
				cursor: pointer;
				display: block;

				&.active {
					color: $color1;
				}

				&:nth-child(1) {
					position: relative;
					margin-right: 21px;

					&::before {
						content: "";
						position: absolute;
						top: 50%;
						right: -11px;
						width: 1px;
						height: 16px;
						background-color: #E0E0E0;
						transform: translateY(-50%);
					}
				}
			}
		}

		/*Корзина*/
		&__basket {
			cursor: pointer;
			position: relative;
			display: block;

			&-wrapp {
				position: relative;
				margin-left: 29px;
			}

			svg {
				width: 28px;
				height: 28px;
			}

			&-count {
				position: absolute;
				top: -6px;
				right: -12px;
				width: 21px;
				height: 21px;
				font-family: $font-family2;
				font-weight: 500;
				font-size: 13px;
				line-height: 22px;
				color: #fff;
				background-color: $color1;
				border-radius: 50%;
				text-align: center;
			}
		}

		&__sci {
			display: none;
		}

		@include table {
			@at-root header .container {
				justify-content: space-between;
			}

			&__row {
				flex-direction: column;
				padding-bottom: 50px;
				padding-top: 64.5px;
				background-color: $color1;

				&-wrap {
					position: absolute;
					top: 100%;
					left: 0;
					right: 0;
					margin-left: 0;
					display: block;
				}	
			}
	
			/*Переключение языка*/
			&__languages-btns {
				margin-top: 34.5px;
				margin-bottom: 80px;
				margin-right: auto;
				line-height: 40px;
				font-weight: bold;
				color: #fff;
	
				span {
					width:42px;
					height: 42px;
					border-radius: 50px;
					text-align: center;
					border: 2px solid;
					border-color: transparent;
					transition: border-color $duration;
	
					&.active {
						color: #fff;
						border-color: #fff;
					}
				}
			}
				
			&__basket-wrapp {
				margin-left: auto;
				margin-right: 25px;

				@include mobile {
					display: none;
				}
			}

			&__sci {
				display: block;
				margin: 0 auto;
			}
		}
	}

}

/*Меню*/
.menu {
	display: flex;

	&__item {
		margin-right: 35px;

		&.active {
			color: $color1;
		}

		a {
			display: inline-block;
			font-family: $font-family;
			line-height: 1.125;
			color: $color3;
			transition: color $duration;
			
			&:hover {
				color: $color1;
			}
		}
	}

	@include table {
		flex-direction: column;
		align-items: center;

		&__item {
			margin-right: 0;

			a {
				padding: 16.5px 0;
				font-size: 18px;
				font-weight: bold;
				line-height: (20/18);
				color: #fff;
			}
		}
	}
}

.hamburger {
	cursor: pointer;
	position: relative;
	display: none;
	width: 30px;
	height: 15px;
	overflow: hidden;

	&.active::before, &.active::after {
		width: 100%;
	}
	
	span, &::before, &::after {
		position: absolute;
		right: 0;
		height: 3px;
		background-color: $color1;
		transform: skewX(-45deg) translateX(1.5px);
		transition: width $duration;
	}

	span {
		bottom: 0;
		width: 100%;
	}

	&::before, &::after {
		content: "";
	}

	&::before {
		top: calc(50% - 1.5px);
		width: 91.66%
	}

	&::after {
		top: 0;
		width: 83.33%
	}

	@include table {
		display: block;	
	}
}