@charset "UTF-8";
@font-face {
  font-family: 'Comfortaa';
  src: url("../fonts/Comfortaa-Light.eot");
  src: url("../fonts/Comfortaa-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Comfortaa-Light.woff2") format("woff2"), url("../fonts/Comfortaa-Light.woff") format("woff"), url("../fonts/Comfortaa-Light.ttf") format("truetype"), url("../fonts/Comfortaa-Light.svg#Comfortaa-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url("../fonts/Comfortaa.eot");
  src: url("../fonts/Comfortaa.eot?#iefix") format("embedded-opentype"), url("../fonts/Comfortaa.woff2") format("woff2"), url("../fonts/Comfortaa.woff") format("woff"), url("../fonts/Comfortaa.ttf") format("truetype"), url("../fonts/Comfortaa.svg#Comfortaa") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url("../fonts/Comfortaa-Bold.eot");
  src: url("../fonts/Comfortaa-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Comfortaa-Bold.woff2") format("woff2"), url("../fonts/Comfortaa-Bold.woff") format("woff"), url("../fonts/Comfortaa-Bold.ttf") format("truetype"), url("../fonts/Comfortaa-Bold.svg#Comfortaa-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro.eot");
  src: url("../fonts/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro.woff2") format("woff2"), url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.ttf") format("truetype"), url("../fonts/GothamPro.svg#GothamPro") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-Medium.eot");
  src: url("../fonts/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Medium.woff2") format("woff2"), url("../fonts/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro-Medium.ttf") format("truetype"), url("../fonts/GothamPro-Medium.svg#GothamPro-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited, a:hover {
  text-decoration: none;
}

a {
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/***********************Main*/
html, body {
  width: 100%;
  height: 100%;
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #333;
}

/*--------------------------------Common--------------------------------*/
.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1170px;
}

@media (max-width: 1170px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
    max-width: 767px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}

img {
  display: inline-block;
  max-width: 100%;
}

/*--------------------------------comon-components--------------------------------*/
/*--- title ---*/
.title-1, .title-2, .title-3, .title-4 {
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  color: #1B1B1E;
}

.title-1 {
  font-size: 55px;
  line-height: 1.34545;
}

@media (max-width: 1170px) {
  .title-1 {
    font-size: 45px;
  }
}

@media (max-width: 767px) {
  .title-1 {
    font-size: 36px;
    line-height: 1.33333;
  }
}

.title-2 {
  font-size: 38px;
  line-height: 1.15789;
}

@media (max-width: 1170px) {
  .title-2 {
    font-size: 32px;
  }
}

@media (max-width: 767px) {
  .title-2 {
    font-size: 22px;
    line-height: 1.36364;
  }
}

.title-3 {
  font-size: 24px;
  line-height: 1.125;
}

@media (max-width: 767px) {
  .title-3 {
    font-size: 20px;
    line-height: 1.25;
  }
}

.title-4 {
  font-size: 18px;
  line-height: 1.44444;
}

@media (max-width: 767px) {
  .title-4 {
    font-size: 16px;
    line-height: 1.375;
  }
}

.text {
  font-family: "Gotham Pro", sans-serif;
  font-size: 16px;
  line-height: 1.875;
  color: #333;
}

@media (max-width: 767px) {
  .text {
    font-size: 14px;
    font-weight: 300;
    line-height: 2;
  }
}

/*--- Btns ---*/
.btn, .btn-v2, .btn-basket, .btn-cupons, .btn-arrow, .btn-arrow-v2 {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.btn, .btn-v2 {
  width: 220px;
  height: 60px;
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  line-height: 60px;
  color: #fff;
  border-radius: 30px;
  box-shadow: -6px 13px 20px rgba(136, 136, 136, 0.4);
}

.btn span, .btn-v2 span {
  display: inline-block;
}

@media (max-width: 767px) {
  .btn, .btn-v2 {
    font-size: 14px;
  }
}

.btn {
  background-color: #009B72;
}

.btn:hover {
  background-color: #00664B;
}

.btn-v2 {
  color: #00664B;
  background-color: #fff;
  border: 2px solid #fff;
}

.btn-v2:hover {
  color: #fff;
  background-color: transparent;
}

/*-------*/
.btn-basket, .btn-cupons, .btn-arrow, .btn-arrow-v2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #009B72;
}

.btn-basket:hover, .btn-cupons:hover, .btn-arrow:hover, .btn-arrow-v2:hover {
  background-color: #00664B;
}

.btn-basket svg, .btn-cupons svg, .btn-arrow svg, .btn-arrow-v2 svg {
  display: inline-block;
  width: 20.83px;
  height: 20.83px;
}

@media (max-width: 1170px) {
  .btn-basket, .btn-cupons, .btn-arrow, .btn-arrow-v2 {
    width: 40px;
    height: 40px;
  }
  .btn-basket svg, .btn-cupons svg, .btn-arrow svg, .btn-arrow-v2 svg {
    width: 16.67px;
    height: 16.67px;
  }
}

/*-------*/
/*-------*/
.btn-arrow {
  width: 40px;
  height: 40px;
}

.btn-arrow svg {
  width: 20px;
}

@media (max-width: 767px) {
  .btn-arrow {
    width: 30px;
    height: 30px;
  }
  .btn-arrow svg {
    width: 15px;
  }
}

.btn-arrow-v2 {
  width: 44px;
  height: 44px;
  background-color: #fff;
  border: 2px solid #fff;
}

.btn-arrow-v2 svg path {
  fill: #00664B;
  transition: fill 0.3s;
}

.btn-arrow-v2:hover {
  background-color: transparent;
}

.btn-arrow-v2:hover svg path {
  fill: #fff;
}

/*-------*/
.btn-preview {
  cursor: pointer;
  position: relative;
  display: inline-block;
  align-self: flex-start;
  padding-right: 31.5px;
  line-height: 0.88889;
  color: #009B72;
  white-space: nowrap;
  transition: color 0.3s;
}

.btn-preview:hover {
  color: #00664B;
}

.btn-preview:hover path {
  fill: #00664B;
}

.btn-preview svg {
  position: absolute;
  top: 50%;
  right: 0;
  width: 20.88px;
  height: 20.88px;
  transform: translateY(-50%);
}

.btn-preview svg path {
  fill: #009B72;
  transition: fill 0.3s;
}

.btn-preview.white {
  color: #fff;
}

.btn-preview.white svg path {
  color: #fff;
}

@media (max-width: 767px) {
  .btn-preview {
    font-size: 14px;
    line-height: 1.28571;
  }
}

/*-------*/
/*b-checkbox*/
.b-radio {
  cursor: pointer;
  position: relative;
  display: block;
  margin-bottom: 13px;
  font-family: "Gotham Pro", sans-serif;
  color: #828282;
}

.b-radio input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
}

.b-radio input:checked ~ .b-radio__text {
  font-weight: 500;
  color: #00664B;
}

.b-radio input:checked ~ .b-radio__text::before {
  background-color: #009B72;
  border-color: #009B72;
}

.b-radio input:checked ~ .b-radio__text::after {
  opacity: 1;
}

.b-radio__text {
  position: relative;
  padding-left: 34px;
  font-size: 16px;
  line-height: 1.375;
  transition: color 0.3s;
}

.b-radio__text::before, .b-radio__text::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition-duration: 0.3s;
}

.b-radio__text::before {
  left: 0;
  width: 18px;
  height: 18px;
  border: 1px solid;
  border-color: #828282;
  border-radius: 50%;
  background-color: transparent;
  transition-property: border-color, background-color;
}

.b-radio__text::after {
  left: 3.5px;
  width: 11.1px;
  height: 7.93px;
  background-image: url("../img/icon/check.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition-property: opacity;
}

@media (max-width: 767px) {
  .b-radio {
    margin-bottom: 7px;
  }
  .b-radio__text {
    font-size: 14px;
    line-height: 1.57143;
  }
  .b-radio__text::before, .b-radio__text::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition-duration: 0.3s;
  }
  .b-radio__text::before {
    left: 0;
    width: 18px;
    height: 18px;
    border: 1px solid;
    border-color: #828282;
    border-radius: 50%;
    background-color: transparent;
    transition-property: border-color, background-color;
  }
  .b-radio__text::after {
    left: 3.5px;
    width: 11.1px;
    height: 7.93px;
    background-image: url("../img/icon/check.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition-property: opacity;
  }
}

/*gallery*/
.gallery {
  display: flex;
  justify-content: space-between;
  width: 670px;
  height: 470px;
}

.gallery__thumb {
  width: 170px;
}

.gallery__thumb-item {
  height: 170px;
  margin-bottom: 30px;
}

.gallery__thumb-item:last-child {
  margin-bottom: 0;
}

.gallery__thumb-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.gallery__full {
  padding-top: 36px;
  padding-bottom: 35px;
  width: 470px;
  background-color: #f2f2f2;
}

.gallery__full img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

@media (max-width: 1170px) {
  .gallery__thumb {
    width: 25%;
  }
  .gallery__thumb-item {
    margin-bottom: 20px;
    height: auto;
  }
  .gallery__full {
    padding-top: 15px;
    padding-bottom: 14px;
    width: 70%;
  }
}

@media (max-width: 767px) {
  .gallery {
    flex-direction: row-reverse;
    width: 100%;
    height: auto;
  }
  .gallery__thumb, .gallery__full {
    flex-shrink: 1;
  }
  .gallery__thumb {
    width: 30.36%;
  }
  .gallery__thumb-item {
    margin-bottom: 10px;
    height: auto;
  }
  .gallery__full {
    padding-top: 15px;
    padding-bottom: 14px;
    width: 65%;
  }
}

/*choice*/
.choice__title {
  margin-top: 13px;
  margin-bottom: 13px;
}

.choice__block {
  position: relative;
}

.choice__block-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 44px;
  color: #828282;
}

.choice__block-title-wrapp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.choice__block-title-wrapp svg {
  cursor: pointer;
  position: relative;
  z-index: 5;
  width: 23.34px;
  height: 23.34px;
  fill: #828282;
  transition: fill 0.3s;
}

.choice__block-title-wrapp svg:hover {
  fill: #009B72;
}

.choice__block-title-wrapp svg:hover ~ .choice__block-info {
  opacity: 1;
  pointer-events: all;
}

.choice__block-line {
  flex-grow: 1;
  height: 1px;
  background-color: #E0E0E0;
  margin: 0 14px;
}

.choice__block-info {
  position: absolute;
  right: -9.61px;
  top: 0;
  z-index: 4;
  padding: 20px 19px 40px 20px;
  width: 299px;
  font-size: 14px;
  line-height: 2;
  color: #333333;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

.choice__block-info:hover {
  opacity: 1;
  pointer-events: all;
}

@media (max-width: 767px) {
  .choice__title {
    margin-top: 0;
    margin-bottom: 5px;
  }
  .choice__block-title {
    font-size: 16px;
    line-height: 1px;
  }
  .choice__block-title-wrapp {
    margin-bottom: 13px;
  }
  .choice__block-title-wrapp svg {
    width: 20px;
    height: 20px;
  }
  .choice__block-line {
    flex-grow: 1;
    height: 1px;
    background-color: #E0E0E0;
    margin: 0 23px 0 22px;
  }
  .choice__block-info {
    top: -10px;
    z-index: 4;
  }
}

/*place order*/
.cost {
  display: flex;
  align-items: center;
}

.cost__text {
  margin-right: 26px;
  font-weight: bold;
  font-size: 18px;
  line-height: 44px;
  color: #828282;
}

.cost__price {
  margin-right: auto;
}

@media (max-width: 1170px) {
  .cost__text {
    margin-right: 45px;
  }
}

@media (max-width: 1170px) {
  .cost {
    flex-wrap: wrap;
  }
  .cost__text {
    margin-right: auto;
    font-size: 16px;
    line-height: 1;
  }
  .cost__price {
    margin-right: 0;
    line-height: 1;
  }
  .cost__btn {
    order: 1;
    margin-top: 20px;
    width: 100%;
  }
}

.description-item {
  margin-bottom: 15px;
  min-height: 60px;
  border: 1px solid #BDBDBD;
}

.description-item:last-child {
  margin-bottom: 0;
}

.description-item__btn {
  cursor: pointer;
  position: relative;
  display: flex;
  padding: 26px 100px 26px 40px;
  font-size: 18px;
  line-height: 1.27778;
  font-weight: 700;
  color: #1B1B1E;
}

.description-item__btn > * {
  display: block;
}

.description-item__btn svg {
  position: absolute;
  top: calc(50% - 5.5px);
  right: 40px;
  width: 19.5px;
  height: 11px;
  fill: #009B72;
  transform: scale(1);
  transition: transform 0.3s;
}

.description-item__btn.active svg {
  transform: scale(-1);
}

.description-item__content {
  padding: 11px 40px 87px;
}

/*--------------------------------Other--------------------------------*/
.dropdownEl {
  height: 0;
  min-height: 0;
  overflow: hidden;
  transition-property: min-height, height;
  transition-duration: 0.3s;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 25px;
  padding-bottom: 30px;
  z-index: 100;
  background-color: #fff;
}

header.fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

header.fixed.visible {
  transform: translateY(0);
}

header .bg-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  min-height: 0;
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.4);
  transition: min-height 600ms cubic-bezier(0.86, 0, 0.07, 1);
}

header .bg-menu.active {
  min-height: 100vh;
  transition: min-height 600ms cubic-bezier(0.86, 0, 0.07, 1);
}

header .container {
  display: flex;
  align-items: center;
}

header .dropdownEl {
  height: auto;
  overflow: visible;
}

@media (max-width: 1170px) {
  header .dropdownEl {
    height: 0;
    overflow: hidden;
    transition-property: height, overflow;
    transition: height 0.6s cubic-bezier(0.86, 0, 0.07, 1), overflow 0s 0s;
  }
  header .dropdownEl.active {
    overflow: auto;
    transition: height 0.6s cubic-bezier(0.86, 0, 0.07, 1), overflow 0s 0.4s;
  }
}

.header {
  /*Переключение языка*/
  /*Корзина*/
}

.header__row {
  position: relative;
  display: flex;
  width: 100%;
  z-index: 101;
}

.header__row-wrap {
  display: flex;
  flex-grow: 1;
  margin-left: 54px;
  z-index: 102;
  max-height: 100vh;
}

.header__languages-btns {
  display: flex;
  margin-left: auto;
  font-family: "Comfortaa", sans-serif;
  line-height: 1.125;
  font-weight: bold;
  text-transform: uppercase;
  color: #828282;
}

.header__languages-btns span {
  cursor: pointer;
  display: block;
}

.header__languages-btns span.active {
  color: #009B72;
}

.header__languages-btns span:nth-child(1) {
  position: relative;
  margin-right: 21px;
}

.header__languages-btns span:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -11px;
  width: 1px;
  height: 16px;
  background-color: #E0E0E0;
  transform: translateY(-50%);
}

.header__basket {
  cursor: pointer;
  position: relative;
  display: block;
}

.header__basket-wrapp {
  position: relative;
  margin-left: 29px;
}

.header__basket svg {
  width: 28px;
  height: 28px;
}

.header__basket-count {
  position: absolute;
  top: -6px;
  right: -12px;
  width: 21px;
  height: 21px;
  font-family: "Gotham Pro", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  color: #fff;
  background-color: #009B72;
  border-radius: 50%;
  text-align: center;
}

.header__sci {
  display: none;
}

@media (max-width: 1170px) {
  .header {
    /*Переключение языка*/
  }
  header .container {
    justify-content: space-between;
  }
  .header__row {
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: 64.5px;
    background-color: #009B72;
  }
  .header__row-wrap {
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    right: 0;
    margin-left: 0;
    display: block;
  }
  .header__languages-btns {
    margin-top: 34.5px;
    margin-bottom: 80px;
    margin-right: auto;
    line-height: 40px;
    font-weight: bold;
    color: #fff;
  }
  .header__languages-btns span {
    width: 42px;
    height: 42px;
    border-radius: 50px;
    text-align: center;
    border: 2px solid;
    border-color: transparent;
    transition: border-color 0.3s;
  }
  .header__languages-btns span.active {
    color: #fff;
    border-color: #fff;
  }
  .header__basket-wrapp {
    margin-left: auto;
    margin-right: 25px;
  }
}

@media (max-width: 1170px) and (max-width: 767px) {
  .header__basket-wrapp {
    display: none;
  }
}

@media (max-width: 1170px) {
  .header__sci {
    display: block;
    margin: 0 auto;
  }
}

/*Меню*/
.menu {
  display: flex;
}

.menu__item {
  margin-right: 35px;
  font-family: "Comfortaa", sans-serif;
  line-height: 1.125;
  color: #1B1B1E;
}

.menu__item a {
  display: inline-block;
  color: inherit;
  transition: color 0.3s;
}

.menu__item a:hover {
  color: #009B72;
}

@media (max-width: 1170px) {
  .menu {
    flex-direction: column;
    align-items: center;
  }
  .menu__item {
    margin-right: 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.11111;
    color: #fff;
  }
  .menu__item.active {
    padding: 16.5px 0;
  }
  .menu__item a {
    padding: 16.5px 0;
  }
  .menu__item a:hover {
    color: #fff;
  }
}

.hamburger {
  cursor: pointer;
  position: relative;
  display: none;
  width: 30px;
  height: 15px;
  overflow: hidden;
}

.hamburger.active::before, .hamburger.active::after {
  width: 100%;
}

.hamburger span, .hamburger::before, .hamburger::after {
  position: absolute;
  right: 0;
  height: 3px;
  background-color: #009B72;
  transform: skewX(-45deg) translateX(1.5px);
  transition: width 0.3s;
}

.hamburger span {
  bottom: 0;
  width: 100%;
}

.hamburger::before, .hamburger::after {
  content: "";
}

.hamburger::before {
  top: calc(50% - 1.5px);
  width: 91.66%;
}

.hamburger::after {
  top: 0;
  width: 83.33%;
}

@media (max-width: 1170px) {
  .hamburger {
    display: block;
  }
}

footer {
  margin-top: auto;
  border: 1px solid #E0E0E0;
}

footer .container {
  position: relative;
  padding-top: 39px;
  padding-bottom: 45px;
}

footer .container::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 732px;
  width: 1px;
  background-color: #E0E0E0;
}

.footer__logo, .footer__sci {
  position: absolute;
  left: 0;
}

.footer__logo {
  top: 39px;
}

.footer__sci {
  top: 111px;
}

.footer__top {
  display: flex;
  padding-left: 299px;
}

.footer__sci .sci__item svg path {
  fill: #009B72;
  transition: fill 0.3s;
}

.footer__sci .sci__item svg circle {
  stroke: #009B72;
  transition: stroke 0.3s;
}

.footer__sci .sci__item:hover path {
  fill: #00664B;
}

.footer__sci .sci__item:hover circle {
  stroke: #00664B;
}

.footer__col {
  display: grid;
  grid-template-columns: repeat(2, 170px);
  grid-template-rows: repeat(2, max-content);
  grid-auto-flow: column;
  grid-gap: 25px 30px;
}

.footer__col:nth-of-type(2) {
  margin-left: 130px;
}

.footer__link a {
  font-size: 18px;
  line-height: 1.44444;
  color: #1B1B1E;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 83px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.11111;
  color: #828282;
}

.artBro a {
  text-transform: uppercase;
  color: #009B72;
}

@media (max-width: 1170px) {
  footer .container::before {
    display: none;
  }
  .footer__top {
    flex-wrap: wrap;
    padding-left: 0;
  }
  .footer__logo, .footer__sci {
    position: relative;
    left: auto;
    top: auto;
  }
  .footer__logo {
    margin-bottom: 50px;
  }
  .footer__sci {
    flex: 1 0 100%;
    margin-top: 45px;
  }
  .footer__col {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-auto-flow: row;
  }
}

@media (max-width: 767px) {
  footer {
    border-top: none;
  }
  footer .container {
    padding-top: 0;
    padding-bottom: 10px;
  }
  .footer__logo {
    margin-bottom: 43px;
    width: 130px;
  }
  .footer__col:nth-of-type(2) {
    margin-left: 30px;
  }
  .footer__link {
    min-width: 120px;
  }
  .footer__link a {
    font-size: 14px;
    line-height: 1.14286;
  }
  .footer__sci {
    margin-top: 40px;
  }
  .footer__bottom {
    flex-direction: column;
    position: relative;
    margin-top: 45px;
    padding-top: 23px;
    font-size: 14px;
    line-height: 1.14286;
  }
  .footer__bottom::before {
    content: "";
    position: absolute;
    top: 0;
    left: -23px;
    right: -23px;
    border: 1px solid #E0E0E0;
  }
  .footer__bottom .artBro {
    margin-top: 16px;
  }
}

.ovh {
  overflow: hidden;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  min-height: 100vh;
  overflow: hidden;
}

.remove-btn {
  cursor: pointer;
  box-sizing: content-box;
  position: relative;
  width: 10px;
  height: 10px;
  border: 5px solid transparent;
}

.remove-btn::before, .remove-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 140%;
  height: 1px;
  background-color: #1B1B1E;
}

.remove-btn::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.remove-btn::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.logo {
  cursor: pointer;
  display: block;
  width: 146px;
}

.sci__item {
  display: inline-block;
  margin-right: 24px;
  width: 30px;
  height: 30px;
}

.sci__item:last-child {
  margin-right: 0;
}

.sci__item svg path {
  fill: #fff;
}

.basket-preview {
  position: absolute;
  right: -2px;
  top: calc(100% + 20px);
  z-index: 200;
  padding: 0 13px;
  width: 300px;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 20px rgba(73, 73, 73, 0.15);
  transition: opacity 0.3s;
}

.header__basket:hover + .basket-preview {
  opacity: 1;
  pointer-events: all;
}

.basket-preview__item {
  position: relative;
  display: flex;
  margin-bottom: 3px;
  padding: 21px 4px 20px;
  border-bottom: 1px solid #F3F3F3;
}

.basket-preview__item:nth-last-of-type(1) {
  border-bottom: none;
  margin-bottom: 14px;
}

.basket-preview__description {
  padding-top: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.57143;
}

.basket-preview__img {
  width: 102px;
  height: 87px;
  object-fit: contain;
  object-position: center;
}

.basket-preview__price {
  margin-top: 9px;
}

.basket-preview__remove-btn {
  position: absolute;
  right: -1px;
  top: 10px;
}

.main-page main {
  padding-top: 18px;
  padding-bottom: 70px;
}

@media (max-width: 1170px) {
  .main-page main {
    padding-top: 0;
  }
}

.main-page main .categories {
  margin-top: 110px;
}

@media (max-width: 1170px) {
  .main-page main .categories {
    margin-top: 75px;
  }
}

@media (max-width: 767px) {
  .main-page main .categories {
    margin-top: 60px;
  }
}

.main-page main .article {
  margin-top: 120px;
}

.main-page main .article:nth-last-of-type(1) {
  margin-top: 130px;
}

@media (max-width: 1170px) {
  .main-page main .article {
    margin-top: 80px;
  }
  .main-page main .article:nth-last-of-type(1) {
    margin-top: 70px;
  }
}

@media (max-width: 767px) {
  .main-page main .article {
    margin-top: 50px;
  }
  .main-page main .article:nth-last-of-type(1) {
    margin-top: 60px;
  }
}

.main-slider {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1170px;
  height: 577px;
}

.main-slider > .swiper-pagination {
  left: 70px;
  bottom: 60px;
  text-align: left;
}

.main-slider > .swiper-pagination .swiper-pagination-bullet {
  position: relative;
  width: 10px;
  height: 10px;
  margin: 0;
  margin-right: 20px;
  border: 3px solid;
  border-color: #fff;
  background-color: transparent;
  opacity: 1;
  transition: border-color 0.3s;
}

.main-slider > .swiper-pagination .swiper-pagination-bullet::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  font-size: 9.34px;
  border: 4px solid #000;
  border-radius: 50%;
  clip-path: polygon(0% 0%, 50% 0, 50% 50%, 100% 50%, 100% 100%, 0 100%);
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;
}

.main-slider > .swiper-pagination .swiper-pagination-bullet-active {
  border-color: transparent;
}

.main-slider > .swiper-pagination .swiper-pagination-bullet-active::before {
  opacity: 1;
}

.main-slider > .swiper-pagination .swiper-pagination-bullet:last-of-type {
  margin-right: 0;
}

@media (max-width: 767px) {
  .main-slider > .swiper-pagination {
    left: 20px;
    bottom: 70px;
  }
  .main-slider > .swiper-pagination .swiper-pagination-bullet {
    width: 8.16px;
    height: 8.16px;
    margin: 0;
    margin-right: 16.32px;
  }
  .main-slider > .swiper-pagination .swiper-pagination-bullet::before {
    width: 13.06px;
    height: 13.06px;
    font-size: 9.34px;
    border: 3.2px solid #000;
  }
}

.main-slider .swiper-slide {
  position: relative;
  padding-top: 147px;
  padding-left: 70px;
  background-color: #009B72;
  background-repeat: no-repeat;
  background-position: center;
}

.main-slider .swiper-slide::before, .main-slider .swiper-slide::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.main-slider .swiper-slide::before {
  left: 0;
  width: 167px;
  background-color: #009B72;
}

.main-slider .swiper-slide::after {
  left: 166px;
  width: calc(100% - 166px);
  background: linear-gradient(94.7deg, #009B72 15.1%, transparent 77.52%);
}

.main-slider .swiper-slide > *:not(.main-slider__img) {
  z-index: 2;
}

@media (max-width: 1170px) {
  .main-slider .swiper-slide::before {
    display: none;
  }
  .main-slider .swiper-slide::after {
    left: 0;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .main-slider .swiper-slide {
    padding-top: 90px;
    padding-left: 20px;
  }
  .main-slider .swiper-slide:after {
    width: 100%;
    right: 0;
    left: auto;
    width: 1170px;
    background: linear-gradient(94.7deg, #009B72 15.1%, rgba(255, 255, 255, 0) 77.52%);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

.main-slider__title {
  position: relative;
  color: #fff;
}

.main-slider__btn {
  margin-top: 40px;
}

@media (max-width: 1170px) {
  .main-slider__title {
    max-width: 90%;
  }
}

@media (max-width: 767px) {
  .main-slider {
    height: 522px;
  }
  .main-slider__btn {
    width: 186px;
  }
}

.section-name {
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11111;
  color: #828282;
}

@media (max-width: 767px) {
  .section-name {
    font-size: 14px;
    line-height: 1.28571;
  }
}

.product {
  position: relative;
  display: flex;
  margin-top: 41px;
  height: 230px;
}

.product__title {
  margin-top: 11px;
}

.product__btn-preview {
  position: absolute;
  left: 0;
  bottom: 11px;
}

.product__slider {
  margin-left: auto;
  margin-right: 0;
  padding: 0 42px;
  width: 910px;
}

.product__slider .swiper-wrapper {
  width: 826px;
}

.product__item {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product__item.swiper-slide::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: -22px;
  right: -22px;
  background-color: #F2F2F2;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s;
}

.product__item:hover::before {
  opacity: 1;
}

.product__item-img {
  width: 226px;
  height: 192px;
}

.product__item-img img {
  max-width: 100%;
  max-width: 100%;
}

.product__info {
  position: absolute;
  left: 50%;
  bottom: 29px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 28px;
  width: 246px;
  height: 50px;
  font-weight: 700;
  line-height: 1;
  color: #00664B;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: -3px 19px 30px rgba(158, 158, 158, 0.4);
  opacity: 0;
  pointer-events: none;
  transform: translateX(-50%);
  transition: opacity 0.3s;
}

.product__item:hover .product__info {
  opacity: 1;
  pointer-events: all;
}

.product__slider-prev, .product__slider-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.product__slider-prev {
  left: 0;
}

.product__slider-next {
  right: 0;
}

@media (max-width: 1170px) {
  .product {
    flex-direction: column;
    height: auto;
  }
  .product__title {
    margin-bottom: 15px;
  }
  .product__title br {
    display: none;
  }
  .product__btn-preview {
    position: relative;
    left: auto;
    bottom: auto;
    margin-top: 35px;
  }
  .product__slider {
    padding: 0 20px 30px;
    width: 100%;
  }
  .product__item.swiper-slide::before {
    left: 0;
    right: 0;
    visibility: visible;
    opacity: 1;
  }
  .product__item-img {
    width: 100%;
  }
  .product__item-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
  .product__info {
    top: calc(100% + 12px);
    bottom: auto;
    padding: 0 1px;
    width: 100%;
    height: auto;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
    pointer-events: all;
  }
  .product__product {
    max-width: 130px;
  }
  .product__price {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 767px) {
  .product__title {
    margin-top: 2px;
    margin-bottom: 12px;
  }
  .product__title br:nth-of-type(1) {
    display: block;
  }
  .product__btn-preview {
    margin-top: 34px;
  }
  .product__slider {
    padding: 0 15px 23px;
    width: calc(100% + 30px);
    margin-left: -15px;
  }
  .product__slider-next, .product__slider-prev {
    top: calc(50% - 11.5px);
  }
  .product__item {
    height: 112px;
  }
  .product__item-img {
    height: calc(100% - 20px);
  }
  .product__info {
    top: calc(100% + 8px);
    font-size: 12px;
    line-height-step: 1.25;
  }
  .product__product {
    max-width: 130px;
  }
  .product__price {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .product .swiper-button-disabled {
    display: none;
  }
}

.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 250px;
  grid-gap: 30px 30px;
}

.categories__heading {
  margin-bottom: 29px;
}

.categories__item {
  position: relative;
  overflow: hidden;
}

.categories__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s;
}

.categories__item:hover .categories__img {
  transform: scale(1.18);
}

.categories__col {
  position: absolute;
  left: 30px;
  bottom: 33px;
}

.categories__title {
  margin-bottom: 9px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.125;
  color: #fff;
}

@media (max-width: 1170px) {
  .categories {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 20px 20px;
  }
  .categories__col {
    left: 20px;
    bottom: 20px;
  }
}

@media (max-width: 767px) {
  .categories {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-auto-rows: 185px;
  }
  .categories__title {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1.25;
  }
  .categories__col {
    left: 20px;
    bottom: 25px;
  }
}

.article {
  position: relative;
  padding-left: 700px;
  min-height: 500px;
}

.article-reverse {
  padding-left: 0;
  padding-right: 700px;
}

.article__col-picture {
  position: absolute;
  top: 0;
  left: 100px;
  max-width: 500px;
  width: 100%;
  height: 500px;
}

.article-reverse .article__col-picture {
  left: auto;
  right: 100px;
}

.article__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article__usp {
  position: absolute;
  bottom: 40px;
  left: -100px;
  padding: 77px 30px 40px;
  width: 240px;
  background-color: #009B72;
  color: #fff;
}

.article-reverse .article__usp {
  left: auto;
  right: -100px;
}

.article__title {
  margin-top: 11px;
  font-weight: bold;
  font-size: 38px;
  line-height: 1.15789;
  color: #1B1B1E;
}

.article__text {
  margin-top: 20px;
}

.article__btn {
  margin-top: 51px;
}

@media (max-width: 1170px) {
  .article {
    padding-left: 20px;
  }
  .article-reverse {
    padding-right: 20px;
  }
  .article__col-picture {
    position: relative;
    top: auto;
    left: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  .article-reverse .article__col-picture {
    right: auto;
  }
  .article-reverse .article__usp {
    right: 0;
  }
  .article__title {
    font-size: 32px;
  }
  .article__btn {
    margin-top: 41px;
  }
}

@media (max-width: 767px) {
  .article {
    padding-left: 20px;
  }
  .article__col-picture {
    margin-top: 15px;
    height: auto;
  }
  .article__usp {
    left: auto;
    bottom: 0;
    right: 0;
    width: 205px;
    padding: 26px 23px 23px 21px;
    font-size: 12px;
    line-height: 1.83333;
  }
  .article__title {
    margin-top: 2px;
    font-size: 22px;
    line-height: 1.36364;
  }
  .article__text {
    margin-top: 30px;
  }
  .article__btn {
    margin-top: 40px;
    width: 186px;
  }
}

.popular-products {
  margin-top: 140px;
}

.popular-products__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.popular-products__title {
  font-size: 38px;
  line-height: 1.42105;
  font-weight: 700px;
  color: #43475a;
}

@media (max-width: 1170px) {
  .popular-products {
    margin-top: 90px;
  }
  .popular-products__row {
    margin-bottom: 15px;
  }
  .popular-products__title {
    font-size: 32px;
  }
}

@media (max-width: 767px) {
  .popular-products {
    margin-top: 71px;
  }
  .popular-products__row {
    margin-bottom: 11px;
  }
  .popular-products__title {
    font-size: 22px;
    line-height: 1.36364;
  }
  .popular-products__btn-preview {
    display: none;
  }
}

.showcase {
  display: flex;
  margin-right: -30px;
  margin-bottom: -10px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.showcase__item {
  position: relative;
  z-index: 2;
  margin-right: 30px;
  padding-top: 21px;
  padding-bottom: 64px;
  width: calc(100% / 3 - 30px);
  background-color: #F2F2F2;
  box-shadow: 0 0 0 0 rgba(73, 73, 73, 0.01);
  transition-property: transform, box-shadow;
  transition-duration: 0.3s;
}

.showcase__item:hover {
  transform: translateY(-19px);
  box-shadow: 0 35px 22px -15px rgba(73, 73, 73, 0.15);
}

.showcase__item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 91%;
  height: 411px;
  overflow-x: hidden;
  transform: translateX(-50%);
  z-index: -1;
}

.showcase__img {
  height: 290px;
}

.showcase__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.showcase__col {
  margin-top: 29px;
  padding: 0 95px 0 31px;
}

.showcase__category, .showcase__price {
  font-size: 14px;
  line-height: 1.28571;
  font-weight: 700;
}

.showcase__category {
  color: #828282;
  transition: color 0.3s;
}

.showcase__category:hover {
  color: #00664B;
}

.showcase__title {
  margin-top: 5px;
}

.showcase__price {
  position: absolute;
  bottom: 39px;
  left: 31px;
  color: #1B1B1E;
}

.showcase__btn-basket {
  position: absolute;
  right: 30px;
  bottom: 42px;
}

@media (max-width: 1170px) {
  .showcase {
    margin-right: -20px;
  }
  .showcase__item {
    margin-right: 20px;
    padding-top: 15px;
    padding-bottom: 61px;
    width: calc(100% / 3 - 20px);
  }
  .showcase__img {
    height: 185px;
  }
  .showcase__col {
    margin-top: 25px;
    padding: 0 65px 0 31px;
  }
  .showcase__btn-basket {
    right: 20px;
    bottom: 30px;
  }
}

@media (max-width: 767px) {
  .showcase {
    padding-top: 19px;
    margin-right: 0;
    width: calc(100% + 20px);
  }
  .showcase__item {
    min-width: 225px;
    padding-top: 16px;
    padding-bottom: 48px;
  }
  .showcase__item:last-child {
    margin-right: 0;
  }
  .showcase__img {
    height: 143px;
  }
  .showcase__col {
    margin-top: 33px;
    padding: 0 65px 0 31px;
  }
  .showcase__price {
    bottom: 23px;
  }
  .showcase__btn-basket {
    bottom: 26px;
  }
}

.subscrip {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-top: 54px;
  width: 100%;
  max-width: 1170px;
  height: 354px;
  background-color: #009B72;
  background-clip: content-box;
  overflow: hidden;
}

.subscrip::before {
  content: "";
  position: absolute;
  top: 87px;
  left: 31px;
  width: 139px;
  height: 223px;
  opacity: 0.1;
  background: url("../img/subscrip-fon.png") no-repeat;
  background-size: contain;
  pointer-events: none;
}

.subscrip__bg {
  position: absolute;
  right: 54px;
  bottom: -467px;
  width: 421px;
}

.subscrip__bg-title {
  position: absolute;
  top: 10.36%;
  left: 12.11%;
  font-size: 38px;
  line-height: 1.42105;
  color: #fff;
}

.subscrip__bg-img {
  width: 100%;
  height: 100%;
}

.subscrip__form {
  display: flex;
  align-items: flex-end;
}

.subscrip__form-wrapp {
  margin-top: 52px;
  margin-left: 70px;
  max-width: 537.5px;
}

.subscrip__title {
  margin-bottom: 36px;
  font-weight: bold;
  font-size: 38px;
  line-height: 1.42105;
  color: #FFFFFF;
}

.subscrip__input {
  display: block;
  padding-left: 5px;
  padding-bottom: 16px;
  font-family: "Gotham Pro", sans-serif;
  font-size: 14px;
  line-height: 0.92857;
  color: #fff;
  background-color: transparent;
  border-bottom: 2px solid #fff;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subscrip__input::placeholder {
  color: #fff;
}

.subscrip__input:nth-of-type(1) {
  margin-right: 17.7px;
}

.subscrip__btn {
  margin-left: 22px;
}

@media (max-width: 1170px) {
  .subscrip::before {
    left: 5px;
    top: 84px;
  }
  .subscrip__bg {
    right: -95px;
    bottom: -385px;
    width: 380px;
  }
  .subscrip__bg-title {
    font-size: 32px;
  }
  .subscrip__form {
    display: flex;
    flex-wrap: wrap;
  }
  .subscrip__form-wrapp {
    margin-top: 0;
    margin-left: 0;
    padding-top: 52px;
    padding-left: 50px;
    margin-right: 295px;
  }
  .subscrip__title {
    margin-bottom: 28px;
    font-weight: bold;
    font-size: 32px;
  }
  .subscrip__input {
    width: calc(50% - 9px);
  }
  .subscrip__btn {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .subscrip {
    padding-top: 0;
    padding-bottom: 246px;
    height: auto;
    background-clip: border-box;
  }
  .subscrip::before {
    display: none;
  }
  .subscrip__bg {
    right: -57px;
    bottom: -325px;
    width: 287px;
  }
  .subscrip__bg-title {
    font-size: 24px;
    line-height: 1.41667;
  }
  .subscrip__form {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
  }
  .subscrip__form-wrapp {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 0;
    max-width: none;
  }
  .subscrip__title {
    margin-bottom: 31px;
    font-size: 22px;
    line-height: 1.36364;
  }
  .subscrip__input {
    width: 82.14%;
  }
  .subscrip__input:nth-of-type(1) {
    margin-bottom: 20px;
  }
  .subscrip__btn {
    margin-top: 30px;
  }
}

.main-page__subscrip {
  margin-top: 86px;
}

.observation__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 29px;
}

.observation__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  grid-gap: 30px 30px;
}

.observation__list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1170px) {
  .observation__list {
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    grid-gap: 20px 20px;
  }
}

@media (max-width: 767px) {
  .observation__list {
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  }
  .observation__btn-preview {
    display: none;
  }
}

.index-page__observation {
  margin-top: 130px;
}

@media (max-width: 1170px) {
  .index-page__observation {
    margin-top: 90px;
  }
}

@media (max-width: 767px) {
  .index-page__observation {
    margin-top: 70px;
  }
}

.bread-crumb {
  display: flex;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.85714;
  color: #828282;
}

.bread-crumb__item {
  position: relative;
  margin-right: 34px;
  transition: color 0.3s;
}

a.bread-crumb__item:hover {
  color: #009B72;
}

div.bread-crumb__item {
  color: #009B72;
}

.bread-crumb__item::before {
  content: ".";
  position: absolute;
  right: -17px;
  top: -12px;
  font-size: 21px;
  color: #009B72;
}

.bread-crumb__item:last-child {
  margin-right: 0;
}

.bread-crumb__item:last-child::before {
  display: none;
}

@media (max-width: 1170px) {
  .bread-crumb {
    display: none;
  }
  .bread-crumb + main {
    padding-top: 30px;
    padding-bottom: 95px;
  }
}

@media (max-width: 767px) {
  .bread-crumb + main {
    padding-bottom: 40px;
  }
}

.cupons {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  padding-bottom: -30px;
}

.cupons__title {
  flex: 1 0 100%;
  margin-bottom: 29px;
}

.cupons__item {
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc(100% / 3 - 30px);
  height: 451px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cupons__item > * {
  position: absolute;
}

.cupons__item-title, .cupons__item-price {
  left: 31px;
  max-width: 239px;
  color: #fff;
}

.cupons__item-title {
  bottom: 68px;
}

.cupons__item-price {
  bottom: 38px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.28571;
}

.cupons__item-btn {
  right: 30px;
  bottom: 42px;
}

@media (max-width: 1170px) {
  .cupons {
    margin-right: -20px;
    margin-bottom: -20px;
  }
  .cupons__item {
    margin-right: 20px;
    margin-bottom: 20px;
    width: calc(50% - 20px);
    height: 360px;
  }
}

@media (max-width: 767px) {
  .cupons__item {
    flex: 1 0 280px;
    height: 185px;
  }
  .cupons__item-title, .cupons__item-price {
    left: 20px;
    max-width: 180px;
  }
  .cupons__item-title {
    bottom: 59px;
  }
  .cupons__item-price {
    bottom: 27px;
  }
  .cupons__item-btn {
    right: 25px;
    bottom: 27px;
  }
}

.cupons-page main {
  padding-bottom: 130px;
}

.cupons-page__subscrip {
  margin-top: 141px;
}

@media (max-width: 1170px) {
  .cupons-page main {
    padding-bottom: 130px;
  }
  .cupons-page__subscrip {
    margin-top: 141px;
  }
}

.infoText__title {
  margin-bottom: 23px;
}

.infoText__text {
  color: #333;
}

@media (max-width: 1170px) {
  .infoText__title {
    margin-bottom: 7px;
  }
}

.catalog__infoText {
  margin-top: 57px;
  margin-bottom: 40px;
}

@media (max-width: 1170px) {
  .catalog__infoText {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.catalog-page__tree .infoText {
  margin-top: 67px;
  margin-bottom: 40px;
}

@media (max-width: 1170px) {
  .catalog-page__tree .infoText {
    margin-top: 55px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .catalog-page__tree .infoText {
    margin-top: 50px;
    margin-bottom: 80px;
  }
}

.catalog-page__pack .infoText {
  margin-top: 60px;
  margin-bottom: 55px;
}

@media (max-width: 1170px) {
  .catalog-page__pack .infoText {
    margin-top: 50px;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .catalog-page__pack .infoText {
    margin-bottom: 87px;
  }
}

.catalog-page main,
.catalog-page__tree main,
.catalog-page__pack main {
  padding-bottom: 130px;
}

@media (max-width: 1170px) {
  .catalog-page main,
  .catalog-page__tree main,
  .catalog-page__pack main {
    padding-bottom: 70px;
  }
}

.order {
  display: flex;
  justify-content: space-between;
}

.order-wrapp {
  margin-bottom: 70px;
}

.order__choice {
  width: 470px;
}

.order__choice-block {
  margin-bottom: 28px;
}

.order__choice-block:last-child {
  margin-bottom: 0;
}

@media (max-width: 1170px) {
  .order {
    flex-direction: column;
    align-items: center;
  }
  .order-wrapp {
    margin-bottom: 50;
  }
  .order__choice {
    margin-top: 25px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .order-wrapp {
    margin-bottom: 41;
  }
  .order__choice {
    margin-top: 25px;
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */